<h1 mat-dialog-title><strong>{{this.product.action}}</strong> Product</h1>
<div mat-dialog-content>
    <form #productForm="ngForm" *ngIf="this.product.action !== 'Delete'; else delete" >

        <mat-form-field class="col-12" appearance="fill">
          <mat-label> Name</mat-label>
          <input matInput required [(ngModel)]="product.name" name="productName"  #name="ngModel"/>
          <mat-error *ngIf="!name.valid && name.touched">Please enter a name</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12" appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput required [(ngModel)]="product.price" type="number" min="1" name="price" #price="ngModel" />
          <mat-error *ngIf="!price.valid && price.touched">Please enter a price</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12" appearance="fill">
          <mat-label> Description </mat-label>
          <input matInput required [(ngModel)]="product.description" name="description" #description="ngModel" />
          <mat-error *ngIf="!description.valid && description.touched">Please enter a description</mat-error>
        </mat-form-field>

        <ng-template #delete>
          Are you sure to delete <h4>{{product.name}}</h4> ?
        </ng-template>
     
  
      <div mat-dialog-actions>
        <button mat-button (click)="handleAction()" mat-flat-button color="primary" 
        [disabled]="!productForm.valid">{{product.action}}</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
      </div>
    </form>

    <ng-template #delete>
      Are you sure to delete <span class="product-name">{{product.name}}</span> ?
      <div mat-dialog-actions>
        <button mat-button (click)="handleAction()" mat-flat-button color="primary" 
        >{{product.action}}</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
      </div>
    </ng-template>
  </div>
   
