table {
  width: 100%;
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #008033;
  float: right;
}

.mat-header-cell {
  font-size: 13px;
  font-weight: 600;
  color: #404040;
}

.fixed-header {
  height: calc(100vh - 190px);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #76798a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2fa7f7;
}
