<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ShopBridge</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <mat-form-field class="col-10 px-3">
        <mat-label>Search</mat-label>
        <input
          matInput
          (keyup)="search($event)"
          placeholder="Search Product"
          #input
          [(ngModel)]="value"
        />
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-fab
        color="primary"
        (click)="openDialog('Add', {}, 0)"
        matTooltip="Add Product"
        matTooltipPosition="right"
      >
        <mat-icon>add</mat-icon>
      </button>
      <div class="fixed-header px-3 mt-3 pb-3">
        <table
          mat-table
          [dataSource]="products"
          class="mat-elevation-z8 mt-1"
          #table
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <span class="text-truncate" [matTooltip]="element.name">{{
                element.name
              }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
              {{ element.price | currency: "INR" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              class="action-link"
            >
              <button mat-icon-button (click)="openDialog('Update', element, i)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              class="action-link"
            >
              <button mat-icon-button  (click)="openDialog('Delete', element, i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
